<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Planilha</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        {% extends "fragments/navbar.html" %}
        {% block content %}
        <h1 style="text-align: center;">Formulário</h1>
        <hr>
        <h3 id="sheet_number" style="text-align: center;">Planilha 1</h3>
        <hr>
        <div class="container">
            <table class="table table-striped">
               <tbody>
                  <tr align="center">
                     <td>
                        <form class="well form-horizontal">
                           <fieldset>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está o Reino</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><select class="form-control" id="kingdom"><option>Selecionar reino...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está o Filo</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="phylum"><option>Selecionar filo...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está a Classe</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="class"><option>Selecionar classe...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está a Ordem</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="order"><option>Selecionar ordem...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está a Família</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="family"><option>Selecionar família...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                    <label class="col-md-4 control-label">Selecione a coluna onde está a Sub-Família</label>
                                    <div class="col-md-8 inputGroupContainer">
                                       <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="subfamily"><option>Selecionar família...</option></select></div>
                                    </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está o Gênero</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="genus"><option>Selecionar gênero...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                    <label class="col-md-4 control-label">Selecione a coluna onde está o Sub-Gênero</label>
                                    <div class="col-md-8 inputGroupContainer">
                                       <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="subgenus"><option>Selecionar gênero...</option></select></div>
                                    </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label">Selecione a coluna onde está a Espécie</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="specie"><option>Selecionar espécie...</option></select></div>
                                </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está a Sub-Espécie</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="subspecie"><option>Selecionar espécie...</option></select></div>
                                 </div>
                              </div>
                           </fieldset>
                        </form>
                     </td>
                  </tr>
               </tbody>
            </table>
            <button id="continue" type="button" class="btn btn-primary btn-lg btn-block">Continuar</button>
            <form id="form" action="taxon_list2" method = "POST" enctype = "multipart/form-data" hidden>
               <input type="text" name="selection_check" value="" hidden="hidden" id="selection_titles1"/>
                <input type="text" name="selection_base" value="" hidden="hidden" id="selection_titles2"/>
               <input id="submit" type="submit" value="Iniciar verificação" class="btn btn-success btn-lg btn-block"/>
             </form>
        </div>
        <script>
            var titles_check = "{{titles_check}}";
            var titles_base = "{{titles_base}}";
            titles_check = titles_check.replace(/&#39;/g,'"');
            titles_check = JSON.parse(titles_check)
            titles_base = titles_base.replace(/&#39;/g,'"');
            titles_base = JSON.parse(titles_base)
            selected_titles = {"kingdom": null, "phylum": null, "class": null, "order": null, "family": null, "subfamily": null, "genus": null, "subgenus": null, "specie": null, "subspecie": null}
            var select_kingdom = document.getElementById("kingdom");
            var select_phylum = document.getElementById("phylum");
            var select_class = document.getElementById("class");
            var select_order = document.getElementById("order");
            var select_family = document.getElementById("family");
            var select_subfamily = document.getElementById("subfamily");
            var select_genus = document.getElementById("genus");
            var select_subgenus = document.getElementById("subgenus");
            var select_specie = document.getElementById("specie");
            var select_subspecie = document.getElementById("subspecie");
            var buttom_continue = document.getElementById("continue");
            var form = document.getElementById("form")
            var page = 1
            Assign_Titles()
            function Assign_Titles(){
                for (title of page==1 ? titles_check : titles_base){
                    new_option1 = document.createElement("option");
                    new_option1.innerHTML = title;
                  
                    new_option2 = document.createElement("option");
                    new_option2.innerHTML = title;
              
                    new_option3 = document.createElement("option");
                    new_option3.innerHTML = title;
                
                    new_option4 = document.createElement("option");
                    new_option4.innerHTML = title;
                    
                    new_option5 = document.createElement("option");
                    new_option5.innerHTML = title;
                   
                    new_option6 = document.createElement("option");
                    new_option6.innerHTML = title;
                        
                    new_option7 = document.createElement("option");
                    new_option7.innerHTML = title;

                    new_option8 = document.createElement("option");
                    new_option8.innerHTML = title;

                    new_option9 = document.createElement("option");
                    new_option9.innerHTML = title;

                    new_option10 = document.createElement("option");
                    new_option10.innerHTML = title;
                                 
                    select_kingdom.appendChild(new_option1);
                    select_phylum.appendChild(new_option2);
                    select_class.appendChild(new_option3);
                    select_order.appendChild(new_option4);
                    select_family.appendChild(new_option5);
                    select_genus.appendChild(new_option6);
                    select_specie.appendChild(new_option7);
                    select_subfamily.appendChild(new_option8);
                    select_subgenus.appendChild(new_option9);
                    select_subspecie.appendChild(new_option10);
                }
            }
            function ResetSelection(){
               selected_titles = {"kingdom": null, "phylum": null, "class": null, "order": null, "family": null, "subfamily": null, "genus": null, "subgenus": null, "specie": null, "subspecie": null}
               select_kingdom.selectedIndex = 0
               select_phylum.selectedIndex = 0
               select_class.selectedIndex = 0
               select_order.selectedIndex = 0
               select_family.selectedIndex = 0
               select_subfamily.selectedIndex = 0
               select_genus.selectedIndex = 0
               select_subgenus.selectedIndex = 0
               select_specie.selectedIndex = 0
               select_subspecie.selectedIndex = 0
               while(select_kingdom.childElementCount > 1){
                  select_kingdom.removeChild(select_kingdom.lastChild)
                  select_phylum.removeChild(select_phylum.lastChild)
                  select_class.removeChild(select_class.lastChild)
                  select_order.removeChild(select_order.lastChild)
                  select_family.removeChild(select_family.lastChild)
                  select_subfamily.removeChild(select_subfamily.lastChild)
                  select_genus.removeChild(select_genus.lastChild)
                  select_subgenus.removeChild(select_subgenus.lastChild)
                  select_specie.removeChild(select_specie.lastChild)
                  select_subspecie.removeChild(select_subspecie.lastChild)
               }
               window.scrollTo(0, 0);
               document.getElementById('sheet_number').innerHTML = "Planilha 2"
            }
            function Selected(){
               selected_titles[this.id] = this.value;
               var formated_titles = JSON.stringify(selected_titles);
               if(page==1){
                  var input_text = document.getElementById("selection_titles1");
                  input_text.value = formated_titles;
               }
               if(page==2){
                  var input_text = document.getElementById("selection_titles2");
                  input_text.value = formated_titles;
               }
            }
            function NextPage(){
               page = 2
               ResetSelection()
               Assign_Titles()
               form.removeAttribute("hidden")
               buttom_continue.setAttribute("hidden", "hidden")
            }

            select_kingdom.addEventListener("change", Selected);
            select_phylum.addEventListener("change",Selected);
            select_class.addEventListener("change",Selected);
            select_order.addEventListener("change",Selected);
            select_family.addEventListener("change",Selected);
            select_subfamily.addEventListener("change",Selected);
            select_genus.addEventListener("change",Selected);
            select_subgenus.addEventListener("change",Selected);
            select_specie.addEventListener("change",Selected);
            select_subspecie.addEventListener("change",Selected);
            buttom_continue.addEventListener("click", NextPage)
        </script>
        {% endblock %}
    </body>
</html>