<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Spreadsheet</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% extends "fragments/navbar.html" %}
        {% block content %}
        <div class="container" style="justify-content: center; display: grid;">
         <div class="formCard card">
            <div class="card-header text-center cardHeader" id="sheet_number">Spreadsheet to be analyzed</div>
            <div style="background-color: rgba(255,255,255,0)" class="card-body">
            <table class="table table-striped">
               <tbody>
                  <tr align="center">
                     <td>
                        <form class="well form-horizontal">
                           <fieldset>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Select the kingdom colunm</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><select class="custom-select" id="kingdom"><option>Select...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Select the phylum column</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="phylum"><option>Select...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione the class column</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="class"><option>Select...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Select the order column</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="order"><option>Select...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Select the family column</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="family"><option>Select...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                    <label class="col-md-4 control-label">Selecione the subfamily column</label>
                                    <div class="col-md-8 inputGroupContainer">
                                       <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="subfamily"><option>Select...</option></select></div>
                                    </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Select the genus column</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="genus"><option>Select...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                    <label class="col-md-4 control-label">Select the sub-genus column</label>
                                    <div class="col-md-8 inputGroupContainer">
                                       <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="subgenus"><option>Select...</option></select></div>
                                    </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label">Selecione the species column</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="specie"><option>Select...</option></select></div>
                                </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione the sub-species column</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="custom-select" id="subspecie"><option>Select...</option></select></div>
                                 </div>
                              </div>
                           </fieldset>
                        </form>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="card-footer">
            <button id="continue" type="button" class="btn btn-primary btn-lg btn-block" disabled>Continue</button>
            <form id="form" action="taxon_list2" method = "POST" enctype = "multipart/form-data" hidden>
               <input type="text" name="selection_check" value="" hidden="hidden" id="selection_titles1"/>
                <input type="text" name="selection_base" value="" hidden="hidden" id="selection_titles2"/>
               <input id="submit" type="submit" value="Start Verification" class="btn btn-success btn-lg btn-block" disabled/>
             </form>
            </div>
         </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/events/loading.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>

            var titles_check = "{{titles_check}}";
            var titles_base  = "{{titles_base}}";
            var cookies      = "{{cookies}}";

            titles_check = titles_check.replace(/&#39;/g,'"');
            titles_base  = titles_base.replace(/&#39;/g,'"');
            cookies      = cookies.replace(/&#34;/g,'"');

            titles_check = JSON.parse(titles_check)           
            titles_base  = JSON.parse(titles_base)  
            cookies     != "None" ? cookies = JSON.parse(cookies) : cookies = null

            var selected_titles = {"kingdom": null, "phylum": null, "class": null, "order": null, "family": null, "subfamily": null, "genus": null, "subgenus": null, "specie": null, "subspecie": null}
            var page            = 1

            var select_kingdom   = document.getElementById("kingdom");
            var select_phylum    = document.getElementById("phylum");
            var select_class     = document.getElementById("class");
            var select_order     = document.getElementById("order");
            var select_family    = document.getElementById("family");
            var select_subfamily = document.getElementById("subfamily");
            var select_genus     = document.getElementById("genus");
            var select_subgenus  = document.getElementById("subgenus");
            var select_specie    = document.getElementById("specie");
            var select_subspecie = document.getElementById("subspecie");
            var buttom_continue  = document.getElementById("continue");
            var button_submit    = document.getElementById("submit");
            var form             = document.getElementById("form");
            

            Assign_Titles();

            if(cookies != null){
               Auto_Selected_Using_Cookie()
               ActiveSubmit()
            }
            
            function Assign_Titles(){
                for (title of page==1 ? titles_check : titles_base){
                    new_option1 = document.createElement("option");
                    new_option1.innerHTML = title;
                  
                    new_option2 = document.createElement("option");
                    new_option2.innerHTML = title;
              
                    new_option3 = document.createElement("option");
                    new_option3.innerHTML = title;
                
                    new_option4 = document.createElement("option");
                    new_option4.innerHTML = title;
                    
                    new_option5 = document.createElement("option");
                    new_option5.innerHTML = title;
                   
                    new_option6 = document.createElement("option");
                    new_option6.innerHTML = title;
                        
                    new_option7 = document.createElement("option");
                    new_option7.innerHTML = title;

                    new_option8 = document.createElement("option");
                    new_option8.innerHTML = title;

                    new_option9 = document.createElement("option");
                    new_option9.innerHTML = title;

                    new_option10 = document.createElement("option");
                    new_option10.innerHTML = title;
                                 
                    select_kingdom.appendChild(new_option1);
                    select_phylum.appendChild(new_option2);
                    select_class.appendChild(new_option3);
                    select_order.appendChild(new_option4);
                    select_family.appendChild(new_option5);
                    select_genus.appendChild(new_option6);
                    select_specie.appendChild(new_option7);
                    select_subfamily.appendChild(new_option8);
                    select_subgenus.appendChild(new_option9);
                    select_subspecie.appendChild(new_option10);
                }
            }
            function ResetSelection(){
               selected_titles = {"kingdom": null, "phylum": null, "class": null, "order": null, "family": null, "subfamily": null, "genus": null, "subgenus": null, "specie": null, "subspecie": null}
               select_kingdom.selectedIndex = 0
               select_phylum.selectedIndex = 0
               select_class.selectedIndex = 0
               select_order.selectedIndex = 0
               select_family.selectedIndex = 0
               select_subfamily.selectedIndex = 0
               select_genus.selectedIndex = 0
               select_subgenus.selectedIndex = 0
               select_specie.selectedIndex = 0
               select_subspecie.selectedIndex = 0
               while(select_kingdom.childElementCount > 1){
                  select_kingdom.removeChild(select_kingdom.lastChild)
                  select_phylum.removeChild(select_phylum.lastChild)
                  select_class.removeChild(select_class.lastChild)
                  select_order.removeChild(select_order.lastChild)
                  select_family.removeChild(select_family.lastChild)
                  select_subfamily.removeChild(select_subfamily.lastChild)
                  select_genus.removeChild(select_genus.lastChild)
                  select_subgenus.removeChild(select_subgenus.lastChild)
                  select_specie.removeChild(select_specie.lastChild)
                  select_subspecie.removeChild(select_subspecie.lastChild)
               }
               window.scrollTo(0, 0);
               document.getElementById('sheet_number').innerHTML = "Spreadsheet to be used as reference"
            }
            function Selected(){
               selected_titles[this.id] = this.value;
               var formated_titles = JSON.stringify(selected_titles);
               if(page==1){
                  var input_text = document.getElementById("selection_titles1");
                  input_text.value = formated_titles;
               }
               if(page==2){
                  var input_text = document.getElementById("selection_titles2");
                  input_text.value = formated_titles;
               }
               ActiveSubmit()
            }
            function NextPage(){
               page = 2
               ResetSelection()
               Assign_Titles()
               form.removeAttribute("hidden")
               buttom_continue.setAttribute("hidden", "hidden")
               Auto_Selected_Using_Cookie()
               ActiveSubmit()
            }
            function Auto_Selected_Using_Cookie(){
               let form = page==1 ? "check":"base"
               let input_text = page==1 ? document.getElementById("selection_titles1"):document.getElementById("selection_titles2")
               for (value=1; value < select_kingdom.options.length; value++){
                  if(select_kingdom[value].label == cookies[form].kingdom){
                     select_kingdom.selectedIndex = value
                     selected_titles.kingdom = cookies[form].kingdom
                  }
                  if(select_phylum[value].label == cookies[form].phylum){
                     select_phylum.selectedIndex = value
                     selected_titles.phylum = cookies[form].phylum
                  }
                  if(select_class[value].label == cookies[form].class){
                     select_class.selectedIndex = value
                     selected_titles.class = cookies[form].class
                  }
                  if(select_order[value].label == cookies[form].order){
                     select_order.selectedIndex = value
                     selected_titles.order = cookies[form].order
                  }
                  if(select_family[value].label == cookies[form].family){
                     select_family.selectedIndex = value
                     selected_titles.family = cookies[form].family
                  }
                  if(select_genus[value].label == cookies[form].genus){
                     select_genus.selectedIndex = value
                     selected_titles.genus = cookies[form].genus
                  }
                  if(select_specie[value].label == cookies[form].specie){
                     select_specie.selectedIndex = value
                     selected_titles.specie = cookies[form].specie
                  }
               }
                selected_titles[this.id] = this.value;
                var formated_titles = JSON.stringify(selected_titles);
                input_text.value = formated_titles;
            }
            
            function isAllSelected(){
               let t = true
               for (value in selected_titles){
                  not_is = parseInt(["subfamily", "subgenus", "subspecie"].indexOf(value));
                  if (selected_titles[value] === null && not_is == -1){
                     t = false
                  }
               }
               return t
            }
            function ActiveSubmit(){
               if(isAllSelected() && page==1){
                  buttom_continue.removeAttribute("disabled")
               }
               else if(page==2){
                  button_submit.removeAttribute("disabled")
               }
            }

            select_kingdom.addEventListener("change", Selected);
            select_phylum.addEventListener("change",Selected);
            select_class.addEventListener("change",Selected);
            select_order.addEventListener("change",Selected);
            select_family.addEventListener("change",Selected);
            select_subfamily.addEventListener("change",Selected);
            select_genus.addEventListener("change",Selected);
            select_subgenus.addEventListener("change",Selected);
            select_specie.addEventListener("change",Selected);
            select_subspecie.addEventListener("change",Selected);
            buttom_continue.addEventListener("click", NextPage)
        </script>
        {% endblock %}
    </body>
</html>