
#fundo_home{
     background: url("https://img.cancaonova.com/cnimages/canais/uploads/sites/6/2019/06/formacao_igreja-e-meio-ambiente-olhos-voltados-para-a-amazonia.jpg");
     position: absolute;
     width: 100%;
     height: 120%;
     background-size:cover;
     background-repeat:no-repeat;
     filter: blur(3px);
}
#card{
     position: relative;
     left: 30%;
     width: 40%;
     margin-top: 5px; 
}
#arquivo{
     border: #696969;
     border-style: dashed;
     margin-bottom: 2%;
}
#body{
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
}
#mapa_criar {
     position: absolute;
     width: 66%;
     height: 100%;
     float: left;
}
#mapa_plotar {
     position: absolute;
     width: 66%;
     height: 100%;
     float: left;  
}

#inserir_poligono{
     margin-left: 66%;
     position: absolute;
     width: 34%;
     height: 100%;
     background-color: #696969;
     float: right;
}
#input_vertices{
     overflow: auto; 
     height: 45%;
}
#dropdown_poligonos{
     margin-bottom: 2%;
}
#Tabelita{
     margin-left: 66%;
     position: absolute;
     width: 34%;
     height: 100%;
     float: right;
     overflow: auto; 
}
.fileUpload {
     position: relative;
     overflow: hidden;
     margin: 10px;
 }
 .fileUpload input.upload {
     position: absolute;
     top: 0;
     right: 0;
     margin: 0;
     padding: 0;
     font-size: 20px;
     cursor: pointer;
     opacity: 0;
     filter: alpha(opacity=0);
 }
 #planilha{
      margin-left: 50%;
      margin-left: 25%;
      position: absolute;
 }