<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="loader"> <img src="../static/image/tree-spinner.gif"></div>

        {% extends "fragments/navbar.html" %}

        {% block content %}
        <div class="row" style="margin: 0;">
            <div style="margin-top: 185px; margin-left: 100px; margin-right: -131px;color: #fff; text-align: justify;"  class="col text-center"> 
                <h5 class="card-title" style="font-family: 'Tomorrow', sans-serif; font-size: 60px; text-shadow: 2px 2px black;">BioTaxGeo</h5>
                <p style="text-align: justify; text-shadow: 2px 2px black;"" class="card-text">É um software de qualidade de dados taxônomicos e geoespaciais para ocorrências de espécies da biodiversidade, que visa ajudar biólogos e demais pesquisadores a identificar e corrigir erros de planilhas de coleta de campo.</p>
            </div>
            <div style="margin-right: 30px;" class="col">
                <div style="margin-top: 185px; margin-left: -30px;width: 60%; background-color: rgba(255,255,255,.8); box-shadow: 5px 10px #888888;" class="card shadow rounded text-center" id="card">
                    <h5 style="font-family: 'Tomorrow', sans-serif; margin-top: 15px; margin-bottom: 30px;">Para começar, insira o arquivo para ser analisado</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action = "http://localhost:8080/" method = "POST" enctype = "multipart/form-data">
                                        <input style="width: 100%;" class="input-group-text" id="uploadFile" placeholder="Escolha o arquivo" disabled="disabled" />
                                </div>
                                <div style="margin-left: 0;" class="col-md-6">
                                    <div style="width: 100%;" class="fileUpload btn btn-primary">
                                        <span style="font-size: 15px;">Selecione o arquivo</span>
                                        <input id="uploadBtn" type="file" name="file" class="upload" />
                                    </div>
                                </div>
                                <div style="margin-left: 0;" class="col-md-6">
                                    <div style="margin-top: 10px;">
                                        <input id="submit_home" type="submit" value="Enviar arquivo" class="btn btn-success" disabled />
                                    </div>
                                </div>
                            </form>
                        </div>
                            <!-- <p class="card-text"><small class="text-muted">Atualizado em 24 outubro de 2019</small></p> -->
                        </div>
                    </div>
                </div>
            </div>
        <script>
           document.getElementById("uploadBtn").onchange = function () {
                document.getElementById("uploadFile").value = this.value;
                if(document.getElementById("uploadFile").value != "" || document.getElementById("uploadFile").value != null){
                    document.getElementById("submit_home").removeAttribute("disabled");
                }
           };
           
        </script>
        <script type="text/javascript" src="../static/js/loading.js"></script>
        {% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>