<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

</head>
<body>
    <!--NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SpecieGeo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gbif" target="_blank">JSON GBIF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mapa">Mapa </a>
            </li>
             <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
      <!--NAVBAR -->
    <div id="map"></div>

<script>
var poligono_criado = [];
var vertices_poligonos_formatada;
var map;
var vertices_poligonos = []
var contador = 99;
var plotar_poligono = [];
//Função que inicia o mapa
function initMap() {
    var belem = {lat:-1.44502, lng: -48.4650};
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: belem});
    /*
    UM QUADRADO PARA TESTE 
    var triangleCoords = [
    {lat: -14.4626, lng: -60.2910},
    {lat: -14.4626, lng: -52.6142},
    {lat: -22.2995, lng: -53.5810},
    {lat: -22.2995, lng: -60.1591}
    ];
    */
    // Construct the polygon.
    if("{{criar_poligono}}"=="False"){
      criando = false
    }
    else if("{{criar_poligono}}"=="True"){
      criando = true
    }
    if(!criando){
      var Poligono = new google.maps.Polygon({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
      })
      Poligono.setMap(map);
    }
    else{
      poligono_criado = "{{vertices}}"
      var lng_aux = "";
      var lat_aux = "";
      var coordenada_aux = "";
      var Petes = [];
      for (caracter of poligono_criado){
        if (caracter != ")"){
          if(caracter != ","){
            lng_aux += caracter
          }
          else{
            lat_aux += lng_aux
            lng_aux = ""
          }
        }

        else{
          lat_aux = lat_aux.replace("(","")
          lng_aux = lng_aux.replace(")","").replace(" ","")
          alert("Latitude: "+lat_aux+"\nLongitude: "+lng_aux)
          coordenada_aux = {lat: parseFloat(lat_aux), lng: parseFloat(lng_aux)}
          alert(coordenada_aux)
          Petes.push(coordenada_aux)
          lat_aux = ""
          lng_aux = ""

        }

      }

      var Poligono_antigo = new google.maps.Polygon({
        strokeColor: '#FF0000',
        paths: Petes,
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
      })
      /*
      var path = Poligono.getPath();
      for(x in plotar_poligono){
        path.push(plotar_poligono[x])
      }
      */
      Poligono_antigo.setMap(map);
    }
    
        map.addListener('click', addLatLng);
        function addLatLng(event) {
          if(contador>0){
              contador -= 1
              document.getElementById("contador").innerHTML = "Vértices disponíveis: "+contador
              var path = Poligono.getPath();
              path.push(event.latLng);
              poligono_criado.push(event.latLng);
              lat = ""
              lng = ""
              for (x of event.latLng.toString()){
                if(x != ","){
                  lng += x
                }
                else{
                  lat += lng
                  lng = ""
                }
              }
              lat = lat.replace("(","")
              lng = lng.replace(")","").replace(" ","")
              vertices_poligonos.push(lng+" "+lat)
              vertices_poligonos_formatada = vertices_poligonos.toString()
              vertices_poligonos_formatada = "POLYGON(("+vertices_poligonos_formatada
              var marker = new google.maps.Marker({
                  position: event.latLng,
                  title: "Latitude: " + lat + " Longitude: "+lng,
                  map: map,
                  icon: "https://icon-icons.com/icons2/165/PNG/48/mapmarker_pushpin_chartreuse_23003.png"
              });
        }
        else{
          alert("Limite de vértices atingido!")
        }
      }


  function Detectar_Marks(latitude,longitude){
    var marker = new google.maps.Marker({
      position: {lat:latitude, lng: longitude},
      map: map,
    });
    marker.setMap(map)
  }
  latitude = []
  longitude = []
  for(x in {{latitude}}){
    latitude.push({{latitude}}[x])
    longitude.push({{longitude}}[x])
  }
  for(x in latitude){
    Detectar_Marks(latitude[x],longitude[x])
  }
}

function Save(){ 
  document.getElementById("Poly").value = vertices_poligonos_formatada+","+vertices_poligonos[0]+"))"
  document.getElementById("vert").value = poligono_criado
  alert("Poligono criado: "+poligono_criado+"\nValor no label: "+document.getElementById("vert").value)
}
</script>


    <form action = "http://localhost:8080/" method = "POST" enctype = "multipart/form-data">
        <div>
            <button type="button" onclick="Save()" class="btn btn-primary btn-lg btn-block" style="margin-top: 15px; margin-bottom: 15px;margin-right: 25px">Salvar</button>
            <input type = "submit" value="Pesquisar" class="btn btn-primary btn-lg btn-block"/>
        </div>
        <input type = "text" name = "vertices" value="" hidden="hidden" id="vert"/>
        <input type = "text" name = "poligono" value="" hidden="hidden" id="Poly"/>

        <div class="alert alert-primary" role="alert">
            <label id="contador">Vértices disponíveis: 99</label>
        </div>

    </form>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNEzVQus5NRrbNeVKppxbEy7nKre_0Djc&callback=initMap">
</script>
</body>
</html>

<!--
Norte: -1.4591914
Sul: -1.4151914
Leste: -48.4301188
Oeste: -48.4701188
-->