{% block navbar %}
        <nav style="background: rgb(3,38,4); background: linear-gradient(90deg, rgba(3,38,4,1) 0%, rgba(29,121,32,1) 72%, rgba(33,171,199,1) 100%);" class="navbar sticky-top navbar-expand-lg navbar-light bg-light" >
            <a style="font-family: 'Tomorrow', sans-serif; color: #ffff; font-size: 30px; letter-spacing:5px" class="navbar-brand" href="#">SpecieGeo <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
{% endblock %}
{% block content %}
{% endblock %}