<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Planilha</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#">SpecieGeo <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        
        <h1 style="text-align: center;">Verificação dos dados da planilha</h1> <hr>
        <div>
          <form action="http://localhost:8080/salvar" method = "POST" enctype = "multipart/form-data">
            <input type="text" name = "dados" value="" hidden="hidden" id="dados"/> 
            <input id="submit_planilha" type="submit" value="Salvar alterações" class="btn btn-success"/>
          </form>
        </div>

        <!--______________________________________PLANILHA______________________________________________________-->
        <div id="planilha">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active rounded-0">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Visualizar tudo
                </label>
                <label class="btn btn-secondary rounded-0">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Visualizar apenas os erros
                </label>
              </div>
          <table class="table table-dark" id="tabela_planilha">
            <thead id="thead_tabela">
              <tr id="tr_thead">
              </tr>
            </thead>
            <tbody id="tbody_tabela">
            </tbody>
          </table>
        </div>


        <script>
          var tabela = document.getElementById("tabela_planilha");
          var thead = document.getElementById("thead_tabela")
          var tr_head = document.getElementById("tr_thead")
          var tbody = document.getElementById("tbody_tabela")
          var celula_errada;
          var verificacao = "{{verificacao}}"
          verificacao = verificacao.replace(/&#34;/g,`"`);
          verificacao = JSON.parse(verificacao)
          var total_linhas = "{{total_linhas}}"
          var Alterar_Dados = {}
          function CriarCabecario(titulo){
            var th = document.createElement("th");
            th.setAttribute("scope","col");
            if(titulo != "Nome Científico"){
              th.innerHTML = `${titulo}: ${total_linhas-1}`;
            }
            else{
              th.innerHTML = `${titulo}: 0`;
            }
            
            tr_head.appendChild(th);
          }

          function CriarLinhas(Hierarquia){
            var tr_body = document.createElement("tr");
            tbody.appendChild(tr_body);
             
            var td_reino = document.createElement("td");
            var td_filo = document.createElement("td");
            var td_ordem = document.createElement("td");
            var td_familia = document.createElement("td");
            var td_genero = document.createElement("td");
            var td_especie = document.createElement("td");
            var td_nome_cientifico = document.createElement("td");

            td_reino.innerHTML = `${Hierarquia["Reino"]["Tipo"]}: ${Hierarquia["Reino"]["Quantidade"]}`
            if(Hierarquia["Reino"]["Corretude"] != "EXACT"){
              td_reino.style = "color: red" 
              td_reino.setAttribute("data-target","#exampleModal")
              td_reino.setAttribute("data-toggle","modal")
              Hierarquia["Reino"]["Corretude"] == "FUZZY" ? td_reino.addEventListener("click", AlterandoDados1) : td_reino.addEventListener("click", AlterandoDados2)
              td_reino.className = "Reino"
              td_reino.id = Hierarquia["Nome Científico"]["Tipo"]+"Reino"
            }
            else {
              td_reino.style = "color: white;" 
            }

            td_filo.innerHTML = `${Hierarquia["Filo"]["Tipo"]}: ${Hierarquia["Filo"]["Quantidade"]}`
            if(Hierarquia["Filo"]["Corretude"] != "EXACT"){
              td_filo.style = "color: red" 
              td_filo.setAttribute("data-target","#exampleModal")
              td_filo.setAttribute("data-toggle","modal")
              Hierarquia["Filo"]["Corretude"] == "FUZZY" ? td_filo.addEventListener("click", AlterandoDados1) : td_filo.addEventListener("click", AlterandoDados2)
              td_filo.className = "Filo"
              td_filo.id = Hierarquia["Nome Científico"]["Tipo"]+"Filo"
            }
            else {
              td_filo.style = "color: white;" 
            }

            td_ordem.innerHTML = `${Hierarquia["Ordem"]["Tipo"]}: ${Hierarquia["Ordem"]["Quantidade"]}`
            if(Hierarquia["Ordem"]["Corretude"] != "EXACT"){
              td_ordem.style = "color: red" 
              td_ordem.setAttribute("data-target","#exampleModal")
              td_ordem.setAttribute("data-toggle","modal")
              Hierarquia["Ordem"]["Corretude"] == "FUZZY" ? td_ordem.addEventListener("click", AlterandoDados1) : td_ordem.addEventListener("click", AlterandoDados2)
              td_ordem.className = "Ordem"
              td_ordem.id = Hierarquia["Nome Científico"]["Tipo"]+"Ordem"
            }
            else {
              td_ordem.style = "color: white;" 
            }

            td_familia.innerHTML = `${Hierarquia["Família"]["Tipo"]}: ${Hierarquia["Família"]["Quantidade"]}`
            if(Hierarquia["Família"]["Corretude"] != "EXACT"){
              td_familia.style = "color: red" 
              td_familia.setAttribute("data-target","#exampleModal")
              td_familia.setAttribute("data-toggle","modal")
              Hierarquia["Família"]["Corretude"] == "FUZZY" ? td_familia.addEventListener("click", AlterandoDados1) : td_familia.addEventListener("click", AlterandoDados2)
              td_familia.className = "Família"
              td_familia.id = Hierarquia["Nome Científico"]["Tipo"]+"Família"
            }
            else {
              td_familia.style = "color: white;" 
            }

            td_genero.innerHTML = `${Hierarquia["Gênero"]["Tipo"]}: ${Hierarquia["Gênero"]["Quantidade"]}`
            if(Hierarquia["Gênero"]["Corretude"] != "EXACT"){
              td_genero.style = "color: red" 
              td_genero.setAttribute("data-target","#exampleModal")
              td_genero.setAttribute("data-toggle","modal")
              Hierarquia["Gênero"]["Corretude"] == "FUZZY" ? td_genero.addEventListener("click", AlterandoDados1) : td_genero.addEventListener("click", AlterandoDados2)
              td_genero.className = "Gênero"
              td_genero.id = Hierarquia["Nome Científico"]["Tipo"]+"Gênero"
            }
            else {
              td_genero.style = "color: white;" 
            }

            td_especie.innerHTML = `${Hierarquia["Espécie"]["Tipo"]}: ${Hierarquia["Espécie"]["Quantidade"]}`
            if(Hierarquia["Espécie"]["Corretude"] != "EXACT"){
              td_especie.style = "color: red" 
              td_especie.setAttribute("data-target","#exampleModal")
              td_especie.setAttribute("data-toggle","modal")
              Hierarquia["Espécie"]["Corretude"] == "FUZZY" ? td_especie.addEventListener("click", AlterandoDados1) : td_especie.addEventListener("click", AlterandoDados2)
              td_especie.className = "Espécie"
              td_especie.id = Hierarquia["Nome Científico"]["Tipo"]+"Espécie"
            }
            else {
              td_especie.style = "color: white;" 
            }

            td_nome_cientifico.innerHTML = `${Hierarquia["Nome Científico"]["Tipo"]}: 0<br>Canonical Name`

            tr_body.appendChild(td_reino);
            tr_body.appendChild(td_filo);
            tr_body.appendChild(td_ordem);
            tr_body.appendChild(td_familia);
            tr_body.appendChild(td_genero);
            tr_body.appendChild(td_especie);
            tr_body.appendChild(td_nome_cientifico);
          }
          
          function AlterandoDados1(){
            celula_errada = this;
            texto = document.getElementById("texto_modal")
            valor_errado = this.innerHTML;
            key1 = this.id.replace(this.className, "")
            key2 = this.className
            quantidade = verificacao[key1][key2]["Quantidade"]
            valor_errado = valor_errado.replace(": "+quantidade, "");
            valor_certo = verificacao[key1][key2]["Sugestão"]
            
            texto.innerHTML = "Fuzzy.<br>Verificamos que seu dado pode estar possivelmente errado.<br>Deseja alterar o valor de <label style='color: red;'>"+valor_errado+"</label> para <label style='color: green;'>"+valor_certo+"</label>?<br>Serão alterados "+quantidade+" valores de sua planilha."
          }
          function AlterandoDados2(){
            celula_errada = this;
            texto = document.getElementById("texto_modal")
            valor_errado = this.innerHTML;
            key1 = this.id.replace(this.className, "")
            key2 = this.className
            quantidade = verificacao[key1][key2]["Quantidade"]
            valor_errado = valor_errado.replace(": "+quantidade, "");
            valor_certo = verificacao[key1][key2]["Sugestão"]
            
            texto.innerHTML = "None.<br>Verificamos que seu dado pode estar possivelmente errado.<br>Deseja alterar o valor de <label style='color: red;'>"+valor_errado+"</label> para <label style='color: green;'>"+valor_certo+"</label>?<br>Serão alterados "+quantidade+" valores de sua planilha."
          }
          function SalvarAlteracao(){
            key1 = celula_errada.id.replace(celula_errada.className, "")
            key2 = celula_errada.className
            celula_errada.innerHTML = verificacao[key1][key2]["Sugestão"]+": "+verificacao[key1][key2]["Quantidade"];
            celula_errada.style = "color: white;";
            celula_errada.setAttribute("data-toggle","");
            celula_errada.setAttribute("data-target","");
            dados = document.getElementById("dados")
            Alterar_Dados[key1] = {}
            Alterar_Dados[key1][key2] =  verificacao[key1][key2]["Sugestão"]
            enviar_valores = JSON.stringify(Alterar_Dados)
            dados.value =  enviar_valores
          }
          for(nome in verificacao){
            for(titu in verificacao[nome]){
              CriarCabecario(titu)
            }
            break;
          }
          for(nome in verificacao){
            CriarLinhas(verificacao[nome])
          }
          
          
        </script>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alterar valor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label id="texto_modal">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="SalvarAlteracao()" data-dismiss="modal">Salvar alteração</button>
        </div>
      </div>
    </div>
  </div>
    </body>
</html>