<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Planilha</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#">SpecieGeo <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        
        <h1 style="text-align: center;">Verificação dos dados da planilha</h1> <hr>
        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome Científico</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Local</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Anodorhynchus hyacinthinus</td>
                    <td>Pará</td>
                    <td>Belém</td>
                    <td>Sacramenta</td>
                    <td>-2,3548115</td>
                    <td>-53,156165</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Anodorhynchus hyacinthinus</td>
                    <td>Pará</td>
                    <td>Belém</td>
                    <td>Pedreira</td>
                    <td>-2,3548115</td>
                    <td>-53,156165</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Anodorhynchus hyacinthinus</td>
                    <td>Pará</td>
                    <td>Belém</td>
                    <td>Reduto</td>
                    <td>-2,3548115</td>
                    <td>-53,156165</td>
                  </tr>
                </tbody>
              </table>
              

    </body>
</html>