<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Planilha</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#">SpecieGeo <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <h1 style="text-align: center;">Formulário</h1><hr>

        <div class="container">
            <table class="table table-striped">
               <tbody>
                  <tr align="center">
                     <td>
                        <form class="well form-horizontal">
                           <fieldset>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está o Reino</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><select class="form-control" id="select_reino"><option>Selecionar reino...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está o Filo</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="select_filo"><option>Selecionar filo...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está a Classe</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="select_classe"><option>Selecionar classe...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está a Ordem</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="select_ordem"><option>Selecionar ordem...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está a Família</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="select_familia"><option>Selecionar família...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-4 control-label">Selecione a coluna onde está o Gênero</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="select_genero"><option>Selecionar gênero...</option></select></div>
                                 </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-4 control-label">Selecione a coluna onde está a Espécie</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><select class="form-control" id="select_especie"><option>Selecionar espécie...</option></select></div>
                                </div>
                              </div>
                           </fieldset>
                        </form>
                     </td>
                  </tr>
               </tbody>
            </table>
            <form action="http://localhost:8080/verificacao" method = "POST" enctype = "multipart/form-data">
               <input type="text" name = "selecao" value="" hidden="hidden" id="titulos_selecao"/> 
               <input id="submit_home" type="submit" value="Iniciar verificação" class="btn btn-success btn-lg btn-block"/>
             </form>
        </div>
        <script>
            var titulos = "{{titulos}}";
            titulos = titulos.replace(/&#39;/g,'"');
            titulos = JSON.parse(titulos)
            console.log(titulos);
            titulos_selecionados = {"reino": null, "filo": null, "classe": null, "ordem": null, "familia": null, "genero": null, "especie": null}
            AtribuindoTitulos()

            function AtribuindoTitulos(){
                var select_reino = document.getElementById("select_reino");
                var select_filo = document.getElementById("select_filo");
                var select_classe = document.getElementById("select_classe");
                var select_ordem = document.getElementById("select_ordem");
                var select_familia = document.getElementById("select_familia");
                var select_genero = document.getElementById("select_genero");
                var select_especie = document.getElementById("select_especie");

                for (titulo of titulos){
                    novo_option1 = document.createElement("option");
                    novo_option1.innerHTML = titulo;
                    novo_option1.addEventListener("click",Selecionado);
                    novo_option1.id = "reino"

                    novo_option2 = document.createElement("option");
                    novo_option2.innerHTML = titulo;
                    novo_option2.addEventListener("click",Selecionado);
                    novo_option2.id = "filo"

                    novo_option3 = document.createElement("option");
                    novo_option3.innerHTML = titulo;
                    novo_option3.addEventListener("click",Selecionado);
                    novo_option3.id = "classe"

                    novo_option4 = document.createElement("option");
                    novo_option4.innerHTML = titulo;
                    novo_option4.addEventListener("click",Selecionado);
                    novo_option4.id = "ordem"
                    
                    novo_option5 = document.createElement("option");
                    novo_option5.innerHTML = titulo;
                    novo_option5.addEventListener("click",Selecionado);
                    novo_option5.id = "familia"

                    novo_option6 = document.createElement("option");
                    novo_option6.innerHTML = titulo;
                    novo_option6.addEventListener("click",Selecionado);
                    novo_option6.id = "genero"

                    novo_option7 = document.createElement("option");
                    novo_option7.innerHTML = titulo;
                    novo_option7.addEventListener("click",Selecionado);
                    novo_option7.id = "especie"

                    select_reino.appendChild(novo_option1);
                    select_filo.appendChild(novo_option2);
                    select_classe.appendChild(novo_option3);
                    select_ordem.appendChild(novo_option4);
                    select_familia.appendChild(novo_option5);
                    select_genero.appendChild(novo_option6);
                    select_especie.appendChild(novo_option7);
                }
            }
            function Selecionado(){
                titulos_selecionados[this.id] = this.value;
                var titulos_formatados = JSON.stringify(titulos_selecionados);
                var input_text = document.getElementById("titulos_selecao");
                input_text.value = titulos_formatados;
            }

        </script>

    </body>
</html>