<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Planilha</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#">SpecieGeo <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        
        <h1 style="text-align: center;">Verificação dos dados da planilha</h1> <hr>
        <div>

        </div>

        <!--______________________________________PLANILHA______________________________________________________-->
        <div id="planilha">
            <form action="taxon_validation" method = "POST" enctype = "multipart/form-data">
                    <input type="text" name = "dados" value="" hidden="hidden" id="dados"/>
                    <input id="submit_planilha" type="submit" value="Salvar alterações" class="btn btn-success rounded-0"/>
            </form>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active rounded-0"  >
                  <input type="radio" name="options" id="option1" autocomplete="on" checked> Visualizar tudo
                </label>
                <label class="btn btn-secondary rounded-0">
                  <input type="radio" name="options" id="option2" autocomplete="on"> Visualizar apenas os erros
                </label>
            </div>

          <table class="table table-dark" id="tabela_planilha">
            <thead id="thead_tabela">
              <tr id="tr_thead">
              </tr>
            </thead>
            <tbody id="tbody_tabela">
            </tbody>
          </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar valor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="body_modal">
                <label id="texto_modal"></label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Cancel_Buttom">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="SalvarAlteracao()" data-dismiss="modal" id="Confirm_Buttom" >Salvar alteração</button>
              </div>
            </div>
          </div>
        </div>

        <script>
          //Pegando os componentens HTML que irão ser manipulados
          var tabela = document.getElementById("tabela_planilha");
          var thead = document.getElementById("thead_tabela")
          var tr_head = document.getElementById("tr_thead")
          var tbody = document.getElementById("tbody_tabela")
          var Cancel_Buttom = document.getElementById("Cancel_Buttom")
          var Confirm_Buttom = document.getElementById("Confirm_Buttom")
          //Atribuindo alguns eventos pro botão de confirm e Cancel do Modal, e pros botões radios do modal.
          Cancel_Buttom.addEventListener("click", Remover_Inputs)
          Confirm_Buttom.addEventListener("click", Remover_Inputs)
          document.getElementById("option1").setAttribute("onchange","Visualizar_Errados('option1')")
          document.getElementById("option2").setAttribute("onchange","Visualizar_Errados('option2')")
          //Pegando os valores de verificacao e total de linhas que vem do servidor, usando o Jinja2
          var verificacao = "{{verificacao}}"
          verificacao = verificacao.replace(/&#34;/g,`"`);
          verificacao = JSON.parse(verificacao)
          var total_linhas = "{{total_linhas}}"
          //Objeto que irar armazernar todos os dados que devem ser alterados e que irão ser enviados pro servidor
          var Alterar_Dados = {}
          //condições de verificações, se a pessoa clicou em um item onde tem mais de um elemento a ser sugerido para ela
          var mais_de_um = false
          var Apenas_Errados = false; //Se false aparece todos os elementos na tabela (certos e errados), se true aparece somente os errados.

          var escolhido = 0; //armazena o valor escolhido na primeira opção de rádio, referente ao nome.
          var escolhido_quant = 0; //armazena a amount de itens que devem ser alterados, referente ao nível hierarquico.
          var celula_errada;
          var contador;
          var contador2;


          //Função que faz a tabela mostrar apenas os errados ou os certos.
          function Visualizar_Errados(quem){
            if(quem == "option1"){
              Apenas_Errados = false
            }
            if(quem == "option2"){
              Apenas_Errados = true
            }
            tirar = document.getElementById("tr")
            console.log(tirar)
            tabela.removeChild(tbody)
            tbody = document.createElement("tbody")
            tbody.id = "tbody_tabela"
            tabela.appendChild(tbody)
            Criando_Linhas()
          }
          //Função PARA Criar o cabeçario da tabela
          function CriarCabecario(titulo){
            var th = document.createElement("th");
            th.setAttribute("scope","col");
            if(titulo != "scientific name"){
              th.innerHTML = `${titulo}: ${total_linhas-1}`;
            }
            else{
              th.innerHTML = `${titulo}: 0`;
            }
            
            tr_head.appendChild(th);
          }
          //Cria o corpo da tabela
          function Iniciando_Tabela(){
            for(nome in verificacao){
              for(titu in verificacao[nome]){
                CriarCabecario(titu)
              }
            break;
            }
          }
          //Função para Criar todas as linhas com os valores em cada coluna.
          function CriarLinhas(Hierarquia){
  
            var criar = false
            var tr_body = document.createElement("tr");
            if(Apenas_Errados){
              for (key in Hierarquia){
                if(Hierarquia[key]["correctness"] != "EXACT"){
                  criar = true
                }
              }
              if (criar){
                var td_kingdom = document.createElement("td");
                var td_phylum = document.createElement("td");
                var td_class = document.createElement("td");
                var td_order = document.createElement("td");
                var td_family = document.createElement("td");
                var td_genus = document.createElement("td");
                var td_specie = document.createElement("td");
                var td_scientific_name = document.createElement("td");
                tbody.appendChild(tr_body);
              }
            }
            else{
              var td_kingdom = document.createElement("td");
              var td_phylum = document.createElement("td");
              var td_class = document.createElement("td");
              var td_order = document.createElement("td");
              var td_family = document.createElement("td");
              var td_genus = document.createElement("td");
              var td_specie = document.createElement("td");
              var td_scientific_name = document.createElement("td");
              tbody.appendChild(tr_body);
            }
            
            if(Hierarquia["kingdom"]["correctness"] != "EXACT"){
              
              Hierarquia["scientific name"]["synonymous"] == true ? td_kingdom.style = "color: orange" : td_kingdom.style = "color: red" 
              td_kingdom.setAttribute("data-target","#exampleModal")
              td_kingdom.setAttribute("data-toggle","modal")
              td_kingdom.addEventListener("click", AlterandoDados1)
              td_kingdom.className = "kingdom"
              td_kingdom.id = Hierarquia["scientific name"]["type"]+"kingdom"
              td_kingdom.innerHTML = `${Hierarquia["kingdom"]["type"]}: ${Hierarquia["kingdom"]["amount"]}`
              tr_body.appendChild(td_kingdom);
            }
            else if (!Apenas_Errados || criar) {
              td_kingdom.innerHTML = `${Hierarquia["kingdom"]["type"]}: ${Hierarquia["kingdom"]["amount"]}`
              td_kingdom.style = "color: white;" 
              tr_body.appendChild(td_kingdom);
            }

            
            if(Hierarquia["phylum"]["correctness"] != "EXACT"){
              Hierarquia["scientific name"]["synonymous"] == true ? td_phylum.style = "color: orange" : td_phylum.style = "color: red"
              //td_phylum.style = "color: red" 
              td_phylum.setAttribute("data-target","#exampleModal")
              td_phylum.setAttribute("data-toggle","modal")
              td_phylum.addEventListener("click", AlterandoDados1)
              td_phylum.className = "phylum"
              td_phylum.id = Hierarquia["scientific name"]["type"]+"phylum"
              td_phylum.innerHTML = `${Hierarquia["phylum"]["type"]}: ${Hierarquia["phylum"]["amount"]}`
              tr_body.appendChild(td_phylum);
            }
            else if (!Apenas_Errados || criar) {
              td_phylum.innerHTML = `${Hierarquia["phylum"]["type"]}: ${Hierarquia["phylum"]["amount"]}`
              td_phylum.style = "color: white;" 
              tr_body.appendChild(td_phylum);
            }

            if(Hierarquia["class"]["correctness"] != "EXACT"){
              Hierarquia["scientific name"]["synonymous"] == true ? td_class.style = "color: orange" : td_class.style = "color: red"
              td_class.setAttribute("data-target","#exampleModal")
              td_class.setAttribute("data-toggle","modal")
              td_class.addEventListener("click", AlterandoDados1)
              td_class.className = "class"
              td_class.id = Hierarquia["scientific name"]["type"]+"class"
              td_class.innerHTML = `${Hierarquia["class"]["type"]}: ${Hierarquia["class"]["amount"]}`
              tr_body.appendChild(td_class);
            }
            else if (!Apenas_Errados || criar) {
              td_class.innerHTML = `${Hierarquia["class"]["type"]}: ${Hierarquia["class"]["amount"]}`
              td_class.style = "color: white;" 
              tr_body.appendChild(td_class);
            }


            if(Hierarquia["order"]["correctness"] != "EXACT"){
              Hierarquia["scientific name"]["synonymous"] == true ? td_order.style = "color: orange" : td_order.style = "color: red"
              //td_order.style = "color: red" 
              td_order.setAttribute("data-target","#exampleModal")
              td_order.setAttribute("data-toggle","modal")
              td_order.addEventListener("click", AlterandoDados1)
              td_order.className = "order"
              td_order.id = Hierarquia["scientific name"]["type"]+"order"
              td_order.innerHTML = `${Hierarquia["order"]["type"]}: ${Hierarquia["order"]["amount"]}`
              tr_body.appendChild(td_order);
            }
            else if (!Apenas_Errados || criar) {
              td_order.innerHTML = `${Hierarquia["order"]["type"]}: ${Hierarquia["order"]["amount"]}`
              td_order.style = "color: white;" 
              tr_body.appendChild(td_order);
            }

            
            if(Hierarquia["family"]["correctness"] != "EXACT"){
              Hierarquia["scientific name"]["synonymous"] == true ? td_family.style = "color: orange" : td_family.style = "color: red"
              //td_family.style = "color: red" 
              td_family.setAttribute("data-target","#exampleModal")
              td_family.setAttribute("data-toggle","modal")
              td_family.addEventListener("click", AlterandoDados1)
              td_family.className = "family"
              td_family.id = Hierarquia["scientific name"]["type"]+"family"
              td_family.innerHTML = `${Hierarquia["family"]["type"]}: ${Hierarquia["family"]["amount"]}`
              tr_body.appendChild(td_family);
            }
            else if (!Apenas_Errados || criar) {

              td_family.innerHTML = `${Hierarquia["family"]["type"]}: ${Hierarquia["family"]["amount"]}`
              td_family.style = "color: white;" 
              tr_body.appendChild(td_family);
            }

            
            if(Hierarquia["genus"]["correctness"] != "EXACT"){
              Hierarquia["scientific name"]["synonymous"] == true ? td_genus.style = "color: orange" : td_genus.style = "color: red"
              //td_genus.style = "color: red" 
              td_genus.setAttribute("data-target","#exampleModal")
              td_genus.setAttribute("data-toggle","modal")
              td_genus.addEventListener("click", AlterandoDados1)
              td_genus.className = "genus"
              td_genus.id = Hierarquia["scientific name"]["type"]+"genus"
              td_genus.innerHTML = `${Hierarquia["genus"]["type"]}: ${Hierarquia["genus"]["amount"]}`
              tr_body.appendChild(td_genus);
            }
            else if (!Apenas_Errados || criar){

              td_genus.innerHTML = `${Hierarquia["genus"]["type"]}: ${Hierarquia["genus"]["amount"]}`
              td_genus.style = "color: white;" 
              tr_body.appendChild(td_genus);
            }

           
            if(Hierarquia["specie"]["correctness"] != "EXACT"){
              Hierarquia["scientific name"]["synonymous"] == true ? td_specie.style = "color: orange" : td_specie.style = "color: red"        
              //td_specie.style = "color: red" 
              td_specie.setAttribute("data-target","#exampleModal")
              td_specie.setAttribute("data-toggle","modal")
              td_specie.addEventListener("click", AlterandoDados1)
              td_specie.className = "specie"
              td_specie.id = Hierarquia["scientific name"]["type"]+"specie"
              td_specie.innerHTML = `${Hierarquia["specie"]["type"]}: ${Hierarquia["specie"]["amount"]}`
              td_scientific_name.innerHTML = `${Hierarquia["scientific name"]["type"]}: 0<br>Canonical Name`
              tr_body.appendChild(td_specie);
              tr_body.appendChild(td_scientific_name);
              
            }
            else if (!Apenas_Errados || criar) {
              td_specie.innerHTML = `${Hierarquia["specie"]["type"]}: ${Hierarquia["specie"]["amount"]}`
              td_scientific_name.innerHTML = `${Hierarquia["scientific name"]["type"]}: 0<br>Canonical Name`
              td_specie.style = "color: white;" 
              tr_body.appendChild(td_specie);
              tr_body.appendChild(td_scientific_name);
            }

            
            
          }
          //Criando todas as linhas
          function Criando_Linhas(){
            for(nome in verificacao){
              CriarLinhas(verificacao[nome])
            }
          }
          //Função que cria o modal, porém, o modal com apenas 1 sugestão de nome
          function AlterandoDados1(){
            
            celula_errada = this;
            modal = document.getElementById("body_modal")
            texto = document.getElementById("texto_modal")
            valor_errado = this.innerHTML;
            key1 = this.id.replace(this.className, "")
            key2 = this.className
            amount = verificacao[key1][key2]["amount"]
            valor_errado = valor_errado.replace(": "+amount, "");
            valor_certo = verificacao[key1][key2]["suggestion"]
            chaves = Object.keys(verificacao[key1])
            comeco = chaves.indexOf(key2)
            console.log(verificacao[key1]["scientific name"]["font"])
            if(!(Array.isArray(valor_certo))){
              mais_de_um = false
              if(verificacao[key1]["scientific name"]["synonymous"]){
                texto.innerHTML = "Fonte: "+verificacao[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode se tratar de um <b>synonymous</b>.<br>Deseja alterar o valor de <b><label style='color: orange;'>"+valor_errado+"</label></b> para <b><label style='color: green;'>"+valor_certo+"</label></b>?<br>Abaixo está a amount de valores que deseja alterar: <br>"

              }
              else{
                texto.innerHTML = "Fonte: "+verificacao[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode estar <b>possivelmente errado</b>.<br>Deseja alterar o valor de <b><label style='color: red;'>"+valor_errado+"</label></b> para <b><label style='color: green;'>"+valor_certo+"</label></b>?<br>Abaixo está a amount de valores que deseja alterar: <br>"
              }
            }
            else{
              mais_de_um = true
              if(verificacao[key1]["scientific name"]["synonymous"]){
                texto.innerHTML = "Fonte: "+verificacao[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode se tratar de um <b>synonymous</b>.<br>Deseja alterar o valor de <b><label style='color: orange;'>"+valor_errado+"</b>"

              }
              else{
                texto.innerHTML = "Fonte: "+verificacao[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode estar <b>possivelmente errado</b>.<br>Deseja alterar o valor de <b><label style='color: red;'>"+valor_errado+"</b>"
              }
              contador = 0
              for (nomes of valor_certo){
                div = document.createElement("div")
                div.className = "form-check"
                div.id = "inputs"+contador
                input = document.createElement("input")
                input.className = "form-check-input"
                input.type = "radio"
                input.name = "Radio"
                input.id = contador
                input.value = "option"
                input.addEventListener("click", Valor_Escolhido)
                label = document.createElement("label")
                label.className = "form-check-label"
                label.for = contador
                label.innerHTML = nomes
                label.style = "color: green;"
                div.appendChild(input)
                div.appendChild(label)
                modal.appendChild(div)
                contador++
              }
              texto2 = document.createElement("label")
              texto2.id = "texto_aux"
              texto2.innerHTML += "<br>Abaixo está a amount de valores que deseja alterar: <br>"
              modal.appendChild(texto2)
            }
  
            contador2 = 0
            for (chave=comeco; chave<chaves.length-1; chave++){
              div = document.createElement("div")
              div.className = "form-check"
              div.id = "inputs_quant"+contador2
              input = document.createElement("input")
              input.className = "form-check-input"
              input.type = "radio"
              input.name = "Radio2"
              input.id = chaves[chave]
              input.value = "option2"
              input.addEventListener("click", Valor_Escolhido_Quant)
              label = document.createElement("label")
              label.className = "form-check-label"
              label.for = contador
              label.innerHTML = "Deseja alterar <b>"+verificacao[key1][chaves[chave]]["amount"]+"</b> valores em sua planilha a nível de "+chaves[chave]+"?"
              div.appendChild(input)
              div.appendChild(label)
              modal.appendChild(div)
              contador2++
            }
          }
          function Remover_Inputs(){
            if(mais_de_um){
              modal = document.getElementById("body_modal")
              for(x=0; x<contador; x++){
                var excluir = document.getElementById("inputs"+x)
                modal.removeChild(excluir)
              }
              for(x=0; x<contador2; x++){
                var excluir2 = document.getElementById("inputs_quant"+x)
                modal.removeChild(excluir2)
              }
              modal.removeChild(document.getElementById("texto_aux"))
            }
            else{
              for(x=0; x<contador2; x++){
                var excluir2 = document.getElementById("inputs_quant"+x)
                modal.removeChild(excluir2)
              }
            }
            escolhido = 0
            escolhido_quant = 0

          }
          function SalvarAlteracao(){
            key1 = celula_errada.id.replace(celula_errada.className, "")
            key2 = celula_errada.className
            celula_errada.style = "color: white;";
            celula_errada.setAttribute("data-toggle","");
            celula_errada.setAttribute("data-target","");
            dados = document.getElementById("dados")
            //achar uma forma dele criar mais de uma chave sem precisar excluir tudo
            if(Alterar_Dados[key1] == null){
               Alterar_Dados[key1] = {}
            }

            if(!mais_de_um){
              if(Alterar_Dados[key1][key2] == null){
                Alterar_Dados[key1][key2] = {}
              }
              Alterar_Dados[key1][key2] =  {"suggestion":verificacao[key1][key2]["suggestion"], "level": [escolhido_quant, verificacao[key1][escolhido_quant]["type"]]}
              celula_errada.innerHTML = verificacao[key1][key2]["suggestion"]+": "+verificacao[key1][key2]["amount"];
            }
            else{
              if(Alterar_Dados[key1][key2] == null){
                Alterar_Dados[key1][key2] = {}
              }
              Alterar_Dados[key1][key2] =  {"suggestion": verificacao[key1][key2]["suggestion"][escolhido], "level": [escolhido_quant, verificacao[key1][escolhido_quant]["type"]]}
              celula_errada.innerHTML = verificacao[key1][key2]["suggestion"][escolhido]+": "+verificacao[key1][key2]["amount"];
              Remover_Inputs()
              mais_de_um = false
              
            }
            enviar_valores = JSON.stringify(Alterar_Dados)
            dados.value =  enviar_valores

          }
          function Valor_Escolhido(){
            escolhido = this.id;
            if(mais_de_um){
              if(escolhido != 0 && escolhido_quant != 0){
                //Confirm_Buttom.setAttribute("disabled","")
              }
            }
            else{
              if(escolhido_quant != 0){
                //Confirm_Buttom.setAttribute("disabled","")
              }
            }
          }
          function Valor_Escolhido_Quant(){
            escolhido_quant = this.id;
            if(escolhido != 0 && escolhido_quant != 0){
              //Confirm_Buttom.disabled = false
            }
            else{
              if(escolhido_quant != 0){
                //Confirm_Buttom.disabled = false
              }
            }
          }
          

          Iniciando_Tabela()
          Criando_Linhas()
          
        </script>

    </body>
</html>