<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Planilha</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        {% extends "fragments/navbar.html" %}
        {% block content %}

        <h1 style="text-align: center;">Comparação dos dados entre as planilhas</h1>
        <hr>        
        <div>
          <ul>
            <li><p>Nomes em <b style="color: orange;">Laranja</b> representam que os valores tratam-se de um sinônimo.</p></li>
            <li><p>Nomes em <b style="color: red;">Vermelho</b> representam que os valores estão incorretos.</p></li>
          </ul>
        </div>
        <hr>

        <!--______________________________________PLANILHA______________________________________________________-->
        <div id="spreadsheet">
            <form action="taxon_validation" method = "POST" enctype = "multipart/form-data">
                    <input type="text" name = "data" value="" hidden="hidden" id="data"/>
                    <input id="submit" type="submit" value="Salvar alterações" class="btn btn-success rounded-0"/>
            </form>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active rounded-0"  >
                  <input type="radio" name="options" id="option1" autocomplete="on" checked> Visualizar tudo
                </label>
                <label class="btn btn-secondary rounded-0">
                  <input type="radio" name="options" id="option2" autocomplete="on"> Visualizar apenas os erros
                </label>
            </div>

          <table class="table table-dark" id="spreadsheet_table">
            <thead id="thead_table">
              <tr id="tr_thead">
              </tr>
            </thead>
            <tbody id="tbody_table">
            </tbody>
          </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar valor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_x">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modal_body">
                <label id="modal_text"></label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Cancel_Buttom">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="SaveChange()" data-dismiss="modal" id="Confirm_Buttom" >Salvar alteração</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          //Pegando os componentens HTML que irão ser manipulados
          var table = document.getElementById("spreadsheet_table");
          var thead = document.getElementById("thead_table")
          var tr_head = document.getElementById("tr_thead")
          var tbody = document.getElementById("tbody_table")
          var Cancel_Buttom = document.getElementById("Cancel_Buttom")
          var Close_Buttom = document.getElementById("close_x")
          var Confirm_Buttom = document.getElementById("Confirm_Buttom")
          //Atribuindo alguns eventos pro botão de confirm e Cancel do Modal, e pros botões radios do modal.
          Cancel_Buttom.addEventListener("click", InputsRemove)
          Confirm_Buttom.addEventListener("click", InputsRemove)
          Close_Buttom.addEventListener("click", InputsRemove)
          document.getElementById("option1").setAttribute("onchange", "ShowOnlyWrong('option1')")
          document.getElementById("option2").setAttribute("onchange", "ShowOnlyWrong('option2')")
          //Pegando os valores de verified_hierarchy e total de linhas que vem do servidor, usando o Jinja2
          var verified_hierarchy = "{{verification}}"
          verified_hierarchy = verified_hierarchy.replace(/&#34;/g,`"`);
          verified_hierarchy = JSON.parse(verified_hierarchy)
          var total_rows = "{{total_rows}}"
          //Objeto que irar armazernar todos os data que devem ser alterados e que irão ser enviados pro servidor
          var changed_data = {}
          //condições de verificações, se a pessoa clicou em um item onde tem mais de um elemento a ser sugerido para ela
          var more_one = false
          var only_wrong = false; //Se false aparece todos os elementos na table (certos e errados), se true aparece somente os errados.

          var selected = 0; //armazena o valor selected na primeira opção de rádio, referente ao name.
          var selected_amount = 0; //armazena a amount de itens que devem ser alterados, referente ao nível hierarquico.
          var wrong_cell;
          var count;
          var count2;


          //Função que faz a table mostrar apenas os errados ou os certos.
          function ShowOnlyWrong(who){
            if(who == "option1"){
              only_wrong = false
            }
            if(who == "option2"){
              only_wrong = true
            }

            table.removeChild(tbody)
            tbody = document.createElement("tbody")
            tbody.id = "tbody_table"
            table.appendChild(tbody)
            CreatingRows()
          }
          //Função PARA create o cabeçario da table
          function CreateHeader(title){
            var th = document.createElement("th");
            th.setAttribute("scope","col");
            if(title != "scientific name"){
              th.innerHTML = `${title}: ${total_rows-1}`;
            }
            else{
              th.innerHTML = `${title}: 0`;
            }
            
            tr_head.appendChild(th);
          }
          //Cria o corpo da table
          function InitTable(){
            for(name in verified_hierarchy){
              for(title in verified_hierarchy[name]){
                CreateHeader(title)
              }
            break;
            }
          }
          //Função para create todas as linhas com os valores em cada coluna.
          function CreateRows(hierarchy){
            var create = false
            var tr_body = document.createElement("tr");
            if(only_wrong){
              for (key in hierarchy){
                if(hierarchy[key]["correctness"] != "EXACT"){
                  create = true
                }
              }
              if (create){
                var td_kingdom = document.createElement("td");
                var td_phylum = document.createElement("td");
                var td_class = document.createElement("td");
                var td_order = document.createElement("td");
                var td_family = document.createElement("td");
                var td_genus = document.createElement("td");
                var td_specie = document.createElement("td");
                var td_scientific_name = document.createElement("td");
                tbody.appendChild(tr_body);
              }
            }
            else{
              var td_kingdom = document.createElement("td");
              var td_phylum = document.createElement("td");
              var td_class = document.createElement("td");
              var td_order = document.createElement("td");
              var td_family = document.createElement("td");
              var td_genus = document.createElement("td");
              var td_specie = document.createElement("td");
              var td_scientific_name = document.createElement("td");
              tbody.appendChild(tr_body);
            }
            
            if(hierarchy["kingdom"]["correctness"] != "EXACT"){
              hierarchy["scientific name"]["synonymous"] == true ? td_kingdom.style = "color: orange" : td_kingdom.style = "color: red" 
              td_kingdom.setAttribute("data-target","#exampleModal")
              td_kingdom.setAttribute("data-toggle","modal")
              td_kingdom.addEventListener("click", ChangingData)
              td_kingdom.className = "kingdom"
              td_kingdom.id = hierarchy["scientific name"]["type"]+"kingdom"
              td_kingdom.innerHTML = `${hierarchy["kingdom"]["type"]}: ${hierarchy["kingdom"]["amount"]}`
              tr_body.appendChild(td_kingdom);
            }
            else if (!only_wrong || create) {
              td_kingdom.innerHTML = `${hierarchy["kingdom"]["type"]}: ${hierarchy["kingdom"]["amount"]}`
              td_kingdom.style = "color: white;" 
              tr_body.appendChild(td_kingdom);
            }
            
            if(hierarchy["phylum"]["correctness"] != "EXACT"){
              hierarchy["scientific name"]["synonymous"] == true ? td_phylum.style = "color: orange" : td_phylum.style = "color: red"
              //td_phylum.style = "color: red" 
              td_phylum.setAttribute("data-target","#exampleModal")
              td_phylum.setAttribute("data-toggle","modal")
              td_phylum.addEventListener("click", ChangingData)
              td_phylum.className = "phylum"
              td_phylum.id = hierarchy["scientific name"]["type"]+"phylum"
              td_phylum.innerHTML = `${hierarchy["phylum"]["type"]}: ${hierarchy["phylum"]["amount"]}`
              tr_body.appendChild(td_phylum);
            }
            else if (!only_wrong || create) {
              td_phylum.innerHTML = `${hierarchy["phylum"]["type"]}: ${hierarchy["phylum"]["amount"]}`
              td_phylum.style = "color: white;" 
              tr_body.appendChild(td_phylum);
            }

            if(hierarchy["class"]["correctness"] != "EXACT"){
              hierarchy["scientific name"]["synonymous"] == true ? td_class.style = "color: orange" : td_class.style = "color: red"
              td_class.setAttribute("data-target","#exampleModal")
              td_class.setAttribute("data-toggle","modal")
              td_class.addEventListener("click", ChangingData)
              td_class.className = "class"
              td_class.id = hierarchy["scientific name"]["type"]+"class"
              td_class.innerHTML = `${hierarchy["class"]["type"]}: ${hierarchy["class"]["amount"]}`
              tr_body.appendChild(td_class);
            }
            else if (!only_wrong || create) {
              td_class.innerHTML = `${hierarchy["class"]["type"]}: ${hierarchy["class"]["amount"]}`
              td_class.style = "color: white;" 
              tr_body.appendChild(td_class);
            }

            if(hierarchy["order"]["correctness"] != "EXACT"){
              hierarchy["scientific name"]["synonymous"] == true ? td_order.style = "color: orange" : td_order.style = "color: red"
              //td_order.style = "color: red" 
              td_order.setAttribute("data-target","#exampleModal")
              td_order.setAttribute("data-toggle","modal")
              td_order.addEventListener("click", ChangingData)
              td_order.className = "order"
              td_order.id = hierarchy["scientific name"]["type"]+"order"
              td_order.innerHTML = `${hierarchy["order"]["type"]}: ${hierarchy["order"]["amount"]}`
              tr_body.appendChild(td_order);
            }
            else if (!only_wrong || create) {
              td_order.innerHTML = `${hierarchy["order"]["type"]}: ${hierarchy["order"]["amount"]}`
              td_order.style = "color: white;" 
              tr_body.appendChild(td_order);
            }

            if(hierarchy["family"]["correctness"] != "EXACT"){
              hierarchy["scientific name"]["synonymous"] == true ? td_family.style = "color: orange" : td_family.style = "color: red"
              //td_family.style = "color: red" 
              td_family.setAttribute("data-target","#exampleModal")
              td_family.setAttribute("data-toggle","modal")
              td_family.addEventListener("click", ChangingData)
              td_family.className = "family"
              td_family.id = hierarchy["scientific name"]["type"]+"family"
              td_family.innerHTML = `${hierarchy["family"]["type"]}: ${hierarchy["family"]["amount"]}`
              tr_body.appendChild(td_family);
            }
            else if (!only_wrong || create) {
              td_family.innerHTML = `${hierarchy["family"]["type"]}: ${hierarchy["family"]["amount"]}`
              td_family.style = "color: white;" 
              tr_body.appendChild(td_family);
            }
            
            if(hierarchy["genus"]["correctness"] != "EXACT"){
              hierarchy["scientific name"]["synonymous"] == true ? td_genus.style = "color: orange" : td_genus.style = "color: red"
              //td_genus.style = "color: red" 
              td_genus.setAttribute("data-target","#exampleModal")
              td_genus.setAttribute("data-toggle","modal")
              td_genus.addEventListener("click", ChangingData)
              td_genus.className = "genus"
              td_genus.id = hierarchy["scientific name"]["type"]+"genus"
              td_genus.innerHTML = `${hierarchy["genus"]["type"]}: ${hierarchy["genus"]["amount"]}`
              tr_body.appendChild(td_genus);
            }
            else if (!only_wrong || create){
              td_genus.innerHTML = `${hierarchy["genus"]["type"]}: ${hierarchy["genus"]["amount"]}`
              td_genus.style = "color: white;" 
              tr_body.appendChild(td_genus);
            }

            if(hierarchy["specie"]["correctness"] != "EXACT"){
              hierarchy["scientific name"]["synonymous"] == true ? td_specie.style = "color: orange" : td_specie.style = "color: red"        
              //td_specie.style = "color: red" 
              td_specie.setAttribute("data-target","#exampleModal")
              td_specie.setAttribute("data-toggle","modal")
              td_specie.addEventListener("click", ChangingData)
              td_specie.className = "specie"
              td_specie.id = hierarchy["scientific name"]["type"]+"specie"
              td_specie.innerHTML = `${hierarchy["specie"]["type"]}: ${hierarchy["specie"]["amount"]}`
              td_scientific_name.innerHTML = `${hierarchy["scientific name"]["type"]}: 0<br>Canonical Name`
              tr_body.appendChild(td_specie);
              tr_body.appendChild(td_scientific_name);
              
            }
            else if (!only_wrong || create) {
              td_specie.innerHTML = `${hierarchy["specie"]["type"]}: ${hierarchy["specie"]["amount"]}`
              td_scientific_name.innerHTML = `${hierarchy["scientific name"]["type"]}: 0<br>Canonical Name`
              td_specie.style = "color: white;" 
              tr_body.appendChild(td_specie);
              tr_body.appendChild(td_scientific_name);
            }
          }
          //Criando todas as linhas
          function CreatingRows(){
            for(name in verified_hierarchy){
              CreateRows(verified_hierarchy[name])
            }
          }
          //Função que cria o modal, porém, o modal com apenas 1 sugestão de name
          function ChangingData(){
            wrong_cell = this;
            modal = document.getElementById("modal_body")
            text = document.getElementById("modal_text")
            wrong_value = this.innerHTML;
            key1 = this.id.replace(this.className, "")
            key2 = this.className
            amount = verified_hierarchy[key1][key2]["amount"]
            wrong_value = wrong_value.replace(": "+amount, "");
            correct_value = verified_hierarchy[key1][key2]["suggestion"]
            keys = Object.keys(verified_hierarchy[key1])
            init = keys.indexOf(key2)
            isArray = Array.isArray(correct_value)
            if(!(isArray)){
              more_one = false
              if(verified_hierarchy[key1]["scientific name"]["synonymous"]){
                text.innerHTML = "Fonte: "+verified_hierarchy[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode se tratar de um <b>synonymous</b>.<br>Deseja alterar o valor de <b><label style='color: orange;'>"+wrong_value+"</label></b> para <b><label style='color: green;'>"+correct_value+"</label></b>?<br>Abaixo está a amount de valores que deseja alterar: <br>"
              }
              else{
                text.innerHTML = "Fonte: "+verified_hierarchy[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode estar <b>possivelmente errado</b>.<br>Deseja alterar o valor de <b><label style='color: red;'>"+wrong_value+"</label></b> para <b><label style='color: green;'>"+correct_value+"</label></b>?<br>Abaixo está a amount de valores que deseja alterar: <br>"
              }
            }
            else{
              more_one = true
              if(verified_hierarchy[key1]["scientific name"]["synonymous"]){
                text.innerHTML = "Fonte: "+verified_hierarchy[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode se tratar de um <b>synonymous</b>.<br>Deseja alterar o valor de <b><label style='color: orange;'>"+wrong_value+"</b>"
              }
              else{
                text.innerHTML = "Fonte: "+verified_hierarchy[key1]["scientific name"]["font"]+"<br>Verificamos que seu dado pode estar <b>possivelmente errado</b>.<br>Deseja alterar o valor de <b><label style='color: red;'>"+wrong_value+"</b>"
              }
              count = 0
              for (names of correct_value){
                div = document.createElement("div")
                div.className = "form-check"
                div.id = "inputs"+count
                input = document.createElement("input")
                input.className = "form-check-input"
                input.type = "radio"
                input.name = "Radio"
                input.id = count
                input.value = "option"
                input.addEventListener("click", SelectedValue)
                label = document.createElement("label")
                label.className = "form-check-label"
                label.for = count
                label.innerHTML = names
                label.style = "color: green;"
                div.appendChild(input)
                div.appendChild(label)
                modal.appendChild(div)
                count++
              }
              text2 = document.createElement("label")
              text2.id = "text_aux"
              text2.innerHTML += "<br>Selecione abaixo a quantidade de valores que deseja alterar: <br>"
              modal.appendChild(text2)
            }
  
            count2 = 0
            for (key=init; key<keys.length-1; key++){
              div = document.createElement("div")
              div.className = "form-check"
              div.id = "inputs_quant"+count2
              input = document.createElement("input")
              input.className = "form-check-input"
              input.type = "radio"
              input.name = "Radio2"
              input.id = keys[key]
              input.value = "option2"
              input.addEventListener("click", SelectedValueAmount)
              label = document.createElement("label")
              label.className = "form-check-label"
              label.for = count
              label.innerHTML = "Deseja alterar <b>"+verified_hierarchy[key1][keys[key]]["amount"]+"</b> valores em sua planilha a nível de "+keys[key]+"?"
              div.appendChild(input)
              div.appendChild(label)
              modal.appendChild(div)
              count2++
            }
          }
          function InputsRemove(){
            if(more_one){
              modal = document.getElementById("modal_body")
              for(x=0; x<count; x++){
                var del = document.getElementById("inputs"+x)
                modal.removeChild(del)
              }
              for(x=0; x<count2; x++){
                var del2 = document.getElementById("inputs_quant"+x)
                modal.removeChild(del2)
              }
              modal.removeChild(document.getElementById("text_aux"))
            }
            else{
              for(x=0; x<count2; x++){
                var del2 = document.getElementById("inputs_quant"+x)
                modal.removeChild(del2)
              }
            }
            selected = 0
            selected_amount = 0

          }
          function SaveChange(){
            key1 = wrong_cell.id.replace(wrong_cell.className, "")
            key2 = wrong_cell.className
            wrong_cell.style = "color: white;";
            wrong_cell.setAttribute("data-toggle","");
            wrong_cell.setAttribute("data-target","");
            data = document.getElementById("data")
            //achar uma forma dele create mais de uma key sem precisar del tudo
            if(changed_data[key1] == null){
               changed_data[key1] = {}
            }

            if(!more_one){
              if(changed_data[key1][key2] == null){
                changed_data[key1][key2] = {}
              }
              changed_data[key1][key2] =  {"suggestion":verified_hierarchy[key1][key2]["suggestion"], "level": [selected_amount, verified_hierarchy[key1][selected_amount]["type"]]}
              wrong_cell.innerHTML = verified_hierarchy[key1][key2]["suggestion"]+": "+verified_hierarchy[key1][key2]["amount"];
            }
            else{
              if(changed_data[key1][key2] == null){
                changed_data[key1][key2] = {}
              }
              changed_data[key1][key2] =  {"suggestion": verified_hierarchy[key1][key2]["suggestion"][selected], "level": [selected_amount, verified_hierarchy[key1][selected_amount]["type"]]}
              wrong_cell.innerHTML = verified_hierarchy[key1][key2]["suggestion"][selected]+": "+verified_hierarchy[key1][key2]["amount"];
              InputsRemove()
              more_one = false
              
            }
            send_values = JSON.stringify(changed_data)
            data.value =  send_values

          }
          function SelectedValue(){
            selected = this.id;
            if(more_one){
              if(selected != 0 && selected_amount != 0){
                //Confirm_Buttom.setAttribute("disabled","")
              }
            }
            else{
              if(selected_amount != 0){
                //Confirm_Buttom.setAttribute("disabled","")
              }
            }
          }
          function SelectedValueAmount(){
            selected_amount = this.id;
            if(selected != 0 && selected_amount != 0){
              //Confirm_Buttom.disabled = false
            }
            else{
              if(selected_amount != 0){
                //Confirm_Buttom.disabled = false
              }
            }
          }
          InitTable()
          CreatingRows()
          
        </script>
        {% endblock %}
    </body>
</html>