<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Spreadsheet</title>
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}"/>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="loader"> <img src="../static/image/tree-spinner.gif"></div>
        {% extends "fragments/navbar.html" %}
        {% block content %}

        <h1 style="margin-top: 10px" class="TextForm cardHeader text-center">Comparison of data between spreadsheets</h1>
        <hr style="background-color: white;">        
        <h4 style="color: #fff; text-align: center;">To receive suggestions, click on the flagged values.</h4>
        <hr style="background-color: white;">     

        <!--______________________________________PLANILHA______________________________________________________-->
        <div id="spreadsheet">
          <div class="card" style="margin-bottom: 15px;">
            <div class="card-header cardHeader text-center">Your Spreadsheet</div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active rounded-0"  >
                  <input type="radio" name="options" id="option1" autocomplete="on" checked> View all
                </label>
                <label class="btn btn-secondary rounded-0">
                  <input type="radio" name="options" id="option2" autocomplete="on"> Errors only
                </label>
            </div>
            <div class="card-body">
              <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                  <i class="fa fa-square" aria-hidden="true" style="font-size:20px;color:#FFD700"></i>&nbsp;
                  <span>Values are a synonym.</span>&nbsp;&nbsp;&nbsp;
                  <i aria-hidden="true" class="fa fa-square" style="font-size:20px;color:#DA3530"></i>&nbsp;
                  <span>Values are incorrect.</span>&nbsp;&nbsp;&nbsp;
                </div>
              </div>
            <table class="table" id="spreadsheet_table">
              <thead id="thead_table">
                <tr id="tr_thead">
                </tr>
              </thead>
              <tbody id="tbody_table">
              </tbody>
            </table>
            <div style="display: grid; justify-items: center;">
              <form action="taxon_validation" method = "POST" enctype = "multipart/form-data">
                <input type="text" name = "data" value="" hidden="hidden" id="data"/>
                <input id="submit" type="submit" value="Salvar alterações" class="btn btn-success rounded-0" disabled/>
              </form>
            </div>
          </div>
        </div>
      </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change value</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_x">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modal_body">
                <label id="modal_text"></label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Cancel_Buttom">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="SaveChange()" data-dismiss="modal" id="Confirm_Buttom" >Save Changes</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="../static/js/loading.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
          //Pegando os componentens HTML que irão ser manipulados
          var table = document.getElementById("spreadsheet_table");
          var thead = document.getElementById("thead_table")
          var tr_head = document.getElementById("tr_thead")
          var tbody = document.getElementById("tbody_table")
          var Cancel_Buttom = document.getElementById("Cancel_Buttom")
          var Close_Buttom = document.getElementById("close_x")
          var Confirm_Buttom = document.getElementById("Confirm_Buttom")
          //Atribuindo alguns eventos pro botão de confirm e Cancel do Modal, e pros botões radios do modal.
          Cancel_Buttom.addEventListener("click", InputsRemove)
          Close_Buttom.addEventListener("click", InputsRemove)
          document.getElementById("option1").setAttribute("onchange", "ShowOnlyWrong('option1')")
          document.getElementById("option2").setAttribute("onchange", "ShowOnlyWrong('option2')")
          //Pegando os valores de verified_hierarchy e total de linhas que vem do servidor, usando o Jinja2
          var verified_hierarchy = "{{verification}}"
          verified_hierarchy = verified_hierarchy.replace(/&#34;/g,`"`);
          verified_hierarchy = JSON.parse(verified_hierarchy)
          var total_rows = "{{total_rows}}"
          //Objeto que irar armazernar todos os data que devem ser alterados e que irão ser enviados pro servidor
          var changed_data = {}
          //condições de verificações, se a pessoa clicou em um item onde tem mais de um elemento a ser sugerido para ela
          var more_one = false
          var only_wrong = false; //Se false aparece todos os elementos na table (certos e errados), se true aparece somente os errados.

          var selected = -1; //armazena o valor selected na primeira opção de rádio, referente ao name.
          var selected_amount = -1; //armazena a amount de itens que devem ser alterados, referente ao nível hierarquico.
          var wrong_cell;
          var count;
          var count2;


          //Função que faz a table mostrar apenas os errados ou os certos.
          function ShowOnlyWrong(who){
            if(who == "option1"){
              only_wrong = false
            }
            if(who == "option2"){
              only_wrong = true
            }

            table.removeChild(tbody)
            tbody = document.createElement("tbody")
            tbody.id = "tbody_table"
            table.appendChild(tbody)
            CreatingRows()
          }
          //Função PARA create o cabeçario da table
          function CreateHeader(title){
            var th = document.createElement("th");
            th.setAttribute("scope","col");
            if(title != "scientific name"){
              th.innerHTML = `${title}: ${total_rows-1}`;
            }
            else{
              th.innerHTML = `${title}: 0`;
            }
            
            tr_head.appendChild(th);
          }
          //Cria o corpo da table
          function InitTable(){
            for(name in verified_hierarchy){
              for(title in verified_hierarchy[name]){
                CreateHeader(title)
              }
            break;
            }
          }
          //Função para create todas as linhas com os valores em cada coluna.
          function CreateRows(hierarchy){
            var create = false
            var tr_body = document.createElement("tr");
            if(only_wrong){
              for (key in hierarchy){
                if(hierarchy[key]["correctness"] != "EXACT"){
                  create = true
                }
              }
              if (create){
                var td_kingdom = document.createElement("td");
                var td_phylum = document.createElement("td");
                var td_class = document.createElement("td");
                var td_order = document.createElement("td");
                var td_family = document.createElement("td");
                var td_genus = document.createElement("td");
                var td_specie = document.createElement("td");
                var td_scientific_name = document.createElement("td");
                tbody.appendChild(tr_body);
              }
            }
            else{
              var td_kingdom = document.createElement("td");
              var td_phylum = document.createElement("td");
              var td_class = document.createElement("td");
              var td_order = document.createElement("td");
              var td_family = document.createElement("td");
              var td_genus = document.createElement("td");
              var td_specie = document.createElement("td");
              var td_scientific_name = document.createElement("td");
              tbody.appendChild(tr_body);
            }
            
            if(hierarchy["kingdom"]["correctness"] != "EXACT"){
              hierarchy["kingdom"]["correctness"] == "FUZZY" ? (td_kingdom.style = "color: orange", td_kingdom.addEventListener("click", ChangingData)) : (td_kingdom.style = "color: red", td_kingdom.addEventListener("click", NotFoundValue))
              td_kingdom.setAttribute("data-target","#exampleModal")
              td_kingdom.setAttribute("data-toggle","modal")
              td_kingdom.className = "kingdom"
              td_kingdom.id = hierarchy["scientific name"]["type"]+"kingdom"
              td_kingdom.innerHTML = `${hierarchy["kingdom"]["type"]}: ${hierarchy["kingdom"]["amount"]}`
              tr_body.appendChild(td_kingdom);
            }
            else if (!only_wrong || create) {
              td_kingdom.innerHTML = `${hierarchy["kingdom"]["type"]}: ${hierarchy["kingdom"]["amount"]}`
              // td_kingdom.style = "color: white;" 
              tr_body.appendChild(td_kingdom);
            }
            
            if(hierarchy["phylum"]["correctness"] != "EXACT"){
              hierarchy["phylum"]["correctness"] == "FUZZY" ? (td_phylum.style = "color: orange", td_phylum.addEventListener("click", ChangingData)) : (td_phylum.style = "color: red", td_phylum.addEventListener("click", NotFoundValue))
              td_phylum.setAttribute("data-target","#exampleModal")
              td_phylum.setAttribute("data-toggle","modal")
              td_phylum.className = "phylum"
              td_phylum.id = hierarchy["scientific name"]["type"]+"phylum"
              td_phylum.innerHTML = `${hierarchy["phylum"]["type"]}: ${hierarchy["phylum"]["amount"]}`
              tr_body.appendChild(td_phylum);
            }
            else if (!only_wrong || create) {
              td_phylum.innerHTML = `${hierarchy["phylum"]["type"]}: ${hierarchy["phylum"]["amount"]}`
              // td_phylum.style = "color: white;" 
              tr_body.appendChild(td_phylum);
            }

            if(hierarchy["class"]["correctness"] != "EXACT"){
              hierarchy["class"]["correctness"] == "FUZZY" ? (td_class.style = "color: orange", td_class.addEventListener("click", ChangingData)) : (td_class.style = "color: red", td_class.addEventListener("click", NotFoundValue))
              td_class.setAttribute("data-target","#exampleModal")
              td_class.setAttribute("data-toggle","modal")
              td_class.className = "class"
              td_class.id = hierarchy["scientific name"]["type"]+"class"
              td_class.innerHTML = `${hierarchy["class"]["type"]}: ${hierarchy["class"]["amount"]}`
              tr_body.appendChild(td_class);
            }
            else if (!only_wrong || create) {
              td_class.innerHTML = `${hierarchy["class"]["type"]}: ${hierarchy["class"]["amount"]}`
              // td_class.style = "color: white;" 
              tr_body.appendChild(td_class);
            }

            if(hierarchy["order"]["correctness"] != "EXACT"){
              hierarchy["order"]["correctness"] == "FUZZY" ? (td_order.style = "color: orange", td_order.addEventListener("click", ChangingData)) : (td_order.style = "color: red", td_order.addEventListener("click", NotFoundValue))
              td_order.setAttribute("data-target","#exampleModal")
              td_order.setAttribute("data-toggle","modal")
              td_order.className = "order"
              td_order.id = hierarchy["scientific name"]["type"]+"order"
              td_order.innerHTML = `${hierarchy["order"]["type"]}: ${hierarchy["order"]["amount"]}`
              tr_body.appendChild(td_order);
            }
            else if (!only_wrong || create) {
              td_order.innerHTML = `${hierarchy["order"]["type"]}: ${hierarchy["order"]["amount"]}`
              // td_order.style = "color: white;" 
              tr_body.appendChild(td_order);
            }

            if(hierarchy["family"]["correctness"] != "EXACT"){
              hierarchy["family"]["correctness"] == "FUZZY" ? (td_family.style = "color: orange", td_family.addEventListener("click", ChangingData)) : (td_family.style = "color: red", td_family.addEventListener("click", NotFoundValue))
              td_family.setAttribute("data-target","#exampleModal")
              td_family.setAttribute("data-toggle","modal")
              td_family.className = "family"
              td_family.id = hierarchy["scientific name"]["type"]+"family"
              td_family.innerHTML = `${hierarchy["family"]["type"]}: ${hierarchy["family"]["amount"]}`
              tr_body.appendChild(td_family);
            }
            else if (!only_wrong || create) {
              td_family.innerHTML = `${hierarchy["family"]["type"]}: ${hierarchy["family"]["amount"]}`
              // td_family.style = "color: white;" 
              tr_body.appendChild(td_family);
            }
            
            if(hierarchy["genus"]["correctness"] != "EXACT"){
              hierarchy["genus"]["correctness"] == "FUZZY" ? (td_genus.style = "color: orange", td_genus.addEventListener("click", ChangingData)) : (td_genus.style = "color: red", td_genus.addEventListener("click", NotFoundValue))
              //td_genus.style = "color: red" 
              td_genus.setAttribute("data-target","#exampleModal")
              td_genus.setAttribute("data-toggle","modal")    
              td_genus.className = "genus"
              td_genus.id = hierarchy["scientific name"]["type"]+"genus"
              td_genus.innerHTML = `${hierarchy["genus"]["type"]}: ${hierarchy["genus"]["amount"]}`
              tr_body.appendChild(td_genus);
            }
            else if (!only_wrong || create){
              td_genus.innerHTML = `${hierarchy["genus"]["type"]}: ${hierarchy["genus"]["amount"]}`
              // td_genus.style = "color: white;" 
              tr_body.appendChild(td_genus);
            }

            if(hierarchy["specie"]["correctness"] != "EXACT"){
              hierarchy["specie"]["correctness"] == "FUZZY" ? (td_specie.style = "color: orange", td_specie.addEventListener("click", ChangingData)) : (td_specie.style = "color: red", td_specie.addEventListener("click", NotFoundValue)) 
              td_specie.setAttribute("data-target","#exampleModal")
              td_specie.setAttribute("data-toggle","modal")
              td_specie.className = "specie"
              td_specie.id = hierarchy["scientific name"]["type"]+"specie"
              td_specie.innerHTML = `${hierarchy["specie"]["type"]}: ${hierarchy["specie"]["amount"]}`
              td_scientific_name.innerHTML = `${hierarchy["scientific name"]["type"]}: 0<br>Canonical Name`
              tr_body.appendChild(td_specie);
              tr_body.appendChild(td_scientific_name);
              
            }
            else if (!only_wrong || create) {
              td_specie.innerHTML = `${hierarchy["specie"]["type"]}: ${hierarchy["specie"]["amount"]}`
              td_scientific_name.innerHTML = `${hierarchy["scientific name"]["type"]}: 0<br>Canonical Name`
              // td_specie.style = "color: white;" 
              tr_body.appendChild(td_specie);
              tr_body.appendChild(td_scientific_name);
            }
          }
          //Criando todas as linhas
          function CreatingRows(){
            for(name in verified_hierarchy){
              CreateRows(verified_hierarchy[name])
            }
          }
          //Função que cria o modal, porém, o modal com apenas 1 sugestão de name
          function ChangingData(){
            // LOCAL VARIABLE
            let modal          = document.getElementById("modal_body")
            let text           = document.getElementById("modal_text")
            let text2          = document.createElement("label")
            let key1           = this.id.replace(this.className, "")
            let key2           = this.className
            let amount         = verified_hierarchy[key1][key2]["amount"]
            let keys           = Object.keys(verified_hierarchy[key1])
            let init           = keys.indexOf(key2)
            let correct_value  = verified_hierarchy[key1][key2]["suggestion"]
            let wrong_value    = this.innerHTML.replace(": "+amount, "");
            let isArray        = Array.isArray(correct_value)
            // GLOBAL VARIABLE =
            more_one           = true
            count              = 0
            count2             = 0
            wrong_cell         = this;
            //____________________________________________
            text.innerHTML     = "We didn't find the "+wrong_value+" value in your base spreadsheet, but we found similar values.<br>Do you want to change the value of <b><label style='color: orange;'>"+wrong_value+"</b> to:"
            text2.id           = "text_aux"
            text2.innerHTML    = "<br>Select the amount of values you want to change below: <br>"
            Confirm_Buttom.setAttribute("disabled", "")

            for (names of correct_value){
              let div = document.createElement("div")
              let input = document.createElement("input")
              let label = document.createElement("label")
              let number_id = count

              div.className = "form-check"
              div.id = "inputs"+number_id.toString()
              
              input.className = "form-check-input"
              input.type = "radio"
              input.name = "Radio"
              input.id = number_id
              input.value = "option"
              input.addEventListener("click", SelectedValue)

              label.className = "form-check-label"
              label.innerHTML = names
              label.style = "color: green;"

              div.appendChild(input)
              div.appendChild(label)
              modal.appendChild(div)
              count++
            }
            modal.appendChild(text2)
            for (key=init; key<keys.length-1; key++){
              let div = document.createElement("div")
              let input = document.createElement("input")
              let label = document.createElement("label")

              div.className = "form-check"
              div.id = "inputs_quant"+count2
              
              input.className = "form-check-input"
              input.type = "radio"
              input.name = "Radio2"
              input.id = keys[key]
              input.value = "option2"
              input.addEventListener("click", SelectedValueAmount)
              
              label.className = "form-check-label"
              label.for = count
              label.innerHTML = "Do you want to change <b>"+verified_hierarchy[key1][keys[key]]["amount"]+"</b> values in your spreadsheet at the level of "+keys[key]+"?"
              div.appendChild(input)
              div.appendChild(label)
              modal.appendChild(div)
              count2++
            }
          }
          function InputsRemove(){
            let modal = document.getElementById("modal_body")
            for(x=0; x<count; x++){
              var del = document.getElementById("inputs"+x)
              modal.removeChild(del)
            }
            for(x=0; x<count2; x++){
              var del2 = document.getElementById("inputs_quant"+x)
              modal.removeChild(del2)
            }
            modal.removeChild(document.getElementById("text_aux"))
            selected = -1
            selected_amount = -1
          }
          function SaveChange(){
            // LOCAL
            let key1 = wrong_cell.id.replace(wrong_cell.className, "")
            let key2 = wrong_cell.className
            let data = document.getElementById("data")
            let submit_buttom = document.getElementById("submit")
            submit_buttom.removeAttribute("disabled")
            // GLOBAL
            // wrong_cell.style = "color: white;";
            wrong_cell.setAttribute("data-toggle","");
            wrong_cell.setAttribute("data-target","");
            
            if(changed_data[key1] == null){
               changed_data[key1] = {}
            }
            if(changed_data[key1][key2] == null){
              changed_data[key1][key2] = {}
            }
            changed_data[key1][key2] =  {"suggestion": verified_hierarchy[key1][key2]["suggestion"][selected], "level": [selected_amount, verified_hierarchy[key1][selected_amount]["type"]]}
            wrong_cell.innerHTML = verified_hierarchy[key1][key2]["suggestion"][selected]+": "+verified_hierarchy[key1][key2]["amount"];
            send_values = JSON.stringify(changed_data)
            data.value =  send_values
            InputsRemove()
          }
          function SelectedValue(){
            selected = this.id;
            BothSelected()
          }
          function SelectedValueAmount(){
            selected_amount = this.id;
            BothSelected()
          }
          function BothSelected(){
            if (selected != -1 && selected_amount!= -1){
              Confirm_Buttom.removeAttribute("disabled")
            }
          }
          function NotFoundValue(){
            modal = document.getElementById("modal_body")
            text = document.getElementById("modal_text")
            text.innerHTML = "No values were found in the base spreadsheet for this data."
          }
          InitTable()
          CreatingRows()
          
        </script>
        {% endblock %}
      </body>
</html>